$title-max-width: 230px;

.movie-card {
  width: 100%;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  overflow: hidden;
  cursor: pointer;  
  transition: transform 0.2s ease;

  &:hover {
    transform: scale(1.02); 
  }
  mat-card-header {
    padding: 12px 16px;
  width: $title-max-width; 

  }

  mat-card-title {
    font-size: 1.2rem;
    font-weight: 600;
     white-space: nowrap;       
  overflow: hidden;          
  text-overflow: ellipsis;  
  width: $title-max-width; 
  }

  mat-card-subtitle {
    font-size: 1rem;
    color: #555;
  }

  .poster {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  mat-card-content {
    padding: 12px 16px;
    font-size: 0.95rem;
    color: #333;
  }

  .overview {
    text-align: justify;
    display: -webkit-box;
    -webkit-line-clamp: 4; 
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}

button[mat-icon-button] {
  margin-bottom: 8px;
}
