<mat-nav-list>
  @for (mov of movies; track mov.id) {
  <a mat-list-item [routerLink]="['/movies', mov.id]" routerLinkActive="active"
    class="movie-row">

    <img matListItemAvatar [src]="'https://image.tmdb.org/t/p/w185' + mov.poster_path" [alt]="mov.title" />

    <div class="movie-text-content">

      <div matLine class="movie-header">
        <div class="movie-title">{{ mov.title }}</div>
        <div class="movie-rating">⭐ {{ mov.vote_average }}</div>
      </div>
      
      <div matLine class="movie-overview">
        {{ mov.overview }}
      </div>
    </div>


  </a>
  <mat-divider></mat-divider>
  }

</mat-nav-list>